@import "../../styles/variables";


.css-i4bv87-MuiSvgIcon-root {
  color: #fff;
}

.logo-img{
  // display: flex !important;
  height: 100%;
  width: 100%;
  padding-top: 5%;
}
.menu-items {
    padding: 0 !important;
    height: 100%;
  
    li {
      padding: 7px 0px !important;
      margin-bottom: 7px;
  
      &.Mui-selected {
        border-radius: 15px;
        background: #ecf4ff !important;
      }
  
      &.Mui-selected:hover {
        border-radius: 5px;
        background: #477fcdce !important;
      }
    }

    p.MuiTypography-body2{
      color: #fff ;
      font-size: 16px;
    }
  
    .MuiListItemIcon-root {
    //   min-width: 30px !important;
      color: #fff !important;
    }
  

  }

  .menu-items2 {
    padding: 0 !important;

  
    li {
      padding: 7px 0px !important;
      margin-bottom: 7px;
  
      &.Mui-selected {
        border-radius: 15px !important;
        background: #7297c8 !important;
      }
  
      &.Mui-selected:hover {
        border-radius: 5px;
        background: #477fcdce;
      }
    }
  
    p.MuiTypography-body2{
      color: #fff ;
      font-size: 16px;
    }
  
  
    .MuiListItemIcon-root {
    //   min-width: 30px !important;
      color: #fff;
    }
    h4.MuiTypography-h4 {
      color: rgb(255, 39, 39);
      font-size: 17px;
    }
  }