$color-sign-in: #000;
@import '../styles/typography';




.WelcomeMessage {
  color: #094390 !important ;
  line-height: normal;
  margin-top: 5vh;
  font-size: 40px !important;
  font-weight: 400 !important;
}

.Credentials {
  color: #A89A9A !important;
  line-height: normal;
  margin-top: 2vh !important;
  font-size: 20px !important;
}

.SignIn {
  color: #000 !important;
  margin-top: 8vh !important;
  font-size: 17px !important;

}
.signin-body {
  width: 100vw;
  height: 80%;
  overflow: none;
}
.block {
  border-radius: 30px;
  background: #d3efef;
  max-width: 60vh !important;
  padding: 30px;  
  // margin-top: 8vh !important;
  margin-bottom: 10vh;
  display: inline-block;
  // max-height: 80%;
  box-shadow:#9c4d4d !important;
}

.forgot-password {
  color: #c31010 !important;
  font-weight: 600 !important;
}

.newAccount {
  color: #000 !important;
  margin-top: 2vh !important;
}
