$color-sign-in: #000;
@import '../../styles/typography';


.WelcomeMessage {
  color: #094390 !important ;
  line-height: normal;
}

.Credentials {
  color: #A89A9A !important;
  line-height: normal;
  font-size: 20px !important;
}

.SignIn {
  color: #000 !important;
  font-size: 17px !important;
}
.signin-body {
  overflow: none;
  // background: #e2eeee;
}

.block {
  border-radius: 30px;
  border: solid #082C5E ;
  border-radius: 25px;
  border-width: 1px;
  max-width: 70vh !important;
  padding: 30px;  
  max-height: 100vh !important;
  box-shadow: 5px 5px 2px #72787b4d !important;
}

.forgot-password {
  color: #c31010 !important;
  font-weight: 600 !important;
}

.newAccount {
  color: #000 !important;
  margin-top: 5vh !important;
  bottom: 0 !important;
  
  cursor: pointer;
}
.newAccount:hover{
  text-decoration: underline;
}



@media (max-width: 600px) {
  .block {
    border-radius: 0px !important;
    // background: #d3efef !important;
    height: 100vh !important;
    box-shadow: none !important;
  }



}